# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Oo]ut/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# User-specific
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
**/packages/
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET
*.pidb
*.cache
*.dll
*.pdb
*.exe
*.publish.xml
*.pubxml
*.Publish.xml
appsettings.*.json
!appsettings.json
!appsettings.Development.json

# Test
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml
.coverage

# Misc
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
